TestWeatherClient/Connected Services/TestService/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9090/TestService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9090/TestService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9090/TestService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Test" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetOneDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDay" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetOneDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDayResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetThreeDays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreeDays" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetThreeDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThreeDaysResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetName" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetOneDay_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOneDay" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetOneDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOneDayResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetThreeDays_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThreeDays" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetThreeDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThreeDaysResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_Trigger_InputMessage">
    <wsdl:part name="parameters" element="tns:Trigger" />
  </wsdl:message>
  <wsdl:message name="ITestService_Trigger_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriggerResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetName" message="tns:ITestService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetNameResponse" message="tns:ITestService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetOneDay" message="tns:ITestService_GetOneDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetOneDayResponse" message="tns:ITestService_GetOneDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThreeDays">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetThreeDays" message="tns:ITestService_GetThreeDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetThreeDaysResponse" message="tns:ITestService_GetThreeDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/SetName" message="tns:ITestService_SetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/SetNameResponse" message="tns:ITestService_SetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOneDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/SetOneDay" message="tns:ITestService_SetOneDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/SetOneDayResponse" message="tns:ITestService_SetOneDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThreeDays">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/SetThreeDays" message="tns:ITestService_SetThreeDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/SetThreeDaysResponse" message="tns:ITestService_SetThreeDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Trigger">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/Trigger" message="tns:ITestService_Trigger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/TriggerResponse" message="tns:ITestService_Trigger_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestService" type="tns:ITestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneDay">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetOneDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreeDays">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetThreeDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetName">
      <soap:operation soapAction="http://tempuri.org/ITestService/SetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOneDay">
      <soap:operation soapAction="http://tempuri.org/ITestService/SetOneDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThreeDays">
      <soap:operation soapAction="http://tempuri.org/ITestService/SetThreeDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trigger">
      <soap:operation soapAction="http://tempuri.org/ITestService/Trigger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="BasicHttpBinding_ITestService" binding="tns:BasicHttpBinding_ITestService">
      <soap:address location="http://localhost:9090/TestService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>